@import url(colors.css) all;

.headerRAVN {
  font-family: system-ui;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;

  padding-left: 33px;
  padding-top: 16px;
  padding-bottom: 16px;

  color: white;
  background: var(--ravnBlack);
  width: 100%;

}
